// Variables---
$header_height: 100px;
$header_scrolled_height: 80px;
$header_height_mobile: 60px;

$color_text_dark_gray: #454463;
$color_text_light_gray: #8B909F;
$color_text_lightest_gray: #A0A6AF;
$color_text_white: #ffffff;

$color_wootag_blue: #1FBCF0;
$color_wootag_blue_hover: #1A9FCB;

$color_theme_dark: #12161F;

$color_light_gray: #E4EBF0;

$color_link_hover: black;

$color_input_border: #E1E4EB;
$color_dark_theme_hr: #20252d;

$color_wootag_red: #FF2727;
$color_wootag_red_hover: #F44336;

$color_button_gray: #F5F7FA;

$bg_button_gray: #373942;
$bg_button_red: #F44336;
$bg_button_parrot_green: #8BC34A;

$color_golden: #FDD835;

$img: "../img";
$js: "../js";
$font: "../font";
