<header id="wt-header" class="row">
  <div class="overlay-subnav"></div> 
  <div class="col-sm-12 wt-navbar-bg">
    <nav class="wt-navbar row"> 
      <div class="container">
        <div class="wt-navbar-container">    
          <div class="wt-navbar-logo">
            <a class="wt-navbar-brand" href="{{ site.baseurl }}/"></a>
          </div>          
          <div class="wt-navbar-left">                
            <ul class="wt-navbar-items">
              <li class="{% if page.pName =='platform_tour' %}selected{% endif %}"><a href="{{ site.baseurl }}/platform-tour/">Platform Tour</a></li>
              <li class="{% if page.pName == 'why_wootag_business' or page.pName == 'why_wootag_agencies' or page.pName == 'why_wootag_enterprise' %}selected{% endif %}">
                <a href="#" id="nav-why-wootag"><i class="material-icons">arrow_back</i> Solutions <i class="material-icons">arrow_forward</i></a>
                <div class="navbar-dropdown row">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-12 col-md-4 subnav-item">
                        <a href="{{ site.baseurl }}/solutions/business/" class="subnav-link {% if page.pName =='why_wootag_business' %}selected{% endif %}">
                          <div class="subnav-title">Business Owners</div>
                          <p class="subnav-description">Generate more high-quality leads and sales by transforming your videos into powerful interactions</p>
                          <div class="button-circular"><i class="material-icons">arrow_forward</i></div>
                        </a>
                      </div>
                      <div class="col-sm-12 col-md-4 subnav-item">
                        <a href="{{ site.baseurl }}/solutions/agencies/" class="subnav-link {% if page.pName =='why_wootag_agencies' %}selected{% endif %}">
                          <div class="subnav-title">Agencies</div>
                          <p class="subnav-description">Deliver next-level customer experience across all of your clients' marketing funnels</p>
                          <div class="button-circular"><i class="material-icons">arrow_forward</i></div>
                        </a>
                      </div>
                      <div class="col-sm-12 col-md-4 subnav-item">
                        <a href="{{ site.baseurl }}/solutions/enterprise/" class="subnav-link {% if page.pName =='why_wootag_enterprise' %}selected{% endif %}">
                          <div class="subnav-title">Enterprise</div>
                          <p class="subnav-description">Give your marketing the edge with a scalable interactive video platform for business</p>
                          <div class="button-circular"><i class="material-icons">arrow_forward</i></div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="{% if page.pName =='explore' %}selected{% endif %}"><a href="{{ site.baseurl }}/explore/">Explore</a></li>
              <li class="{% if page.pName =='pricing' %}selected{% endif %}"><a href="{{ site.baseurl }}/pricing/">Pricing</a></li>
              <li><a href="https://blog.wootag.com/" target="_blank">Blog</a></li>
            </ul>
          </div>
          <div class="mobile-menu-btn">
            <div class="menu-open">                    
              <div class="bar"></div>
              <div class="bar"></div>
            </div>
            <div class="menu-close">
              <div class="button-circular button--gray"><i class="material-icons">close</i></div>
            </div>
          </div>
          <div class="wt-navbar-right">
            <div class="login_link hide-for-small"><a href="{{ site.baseurl }}/signin/">Sign in</a></div>
            <a href="{{ site.baseurl }}/signup/" class="wt-nav-signup"><div class="wt-button wt-button--navbar">Sign up Free</div></a>
          </div> 
        </div>
      </div>      
    </nav>        
  </div>
</header>