<!-- Get Started -->
<div class="container-fluid">        
  <div class="row row__padTB100 section-get_started">
      <div class="container">
      <div class="row row-centered animation-container">
          <div class="col-sm-12 col-md-8 mobile-text-center">
          <h2 class="wt-title section-subtitle" data-aos="fade-up">Get Started</h2>
          <p data-aos="fade-up">And turn ordinary views into extraordinary customer experiences.</p>
          <div class="button-try-for-free mobile-div-center"><a href="{{ site.baseurl }}/signup/"><div class="wt-button wt-button--large marT50 center-on-mobile">TRY WOOTAG FOR FREE</div></a></div>
          </div>
      </div>
      </div>          
  </div>
</div>