---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body data-page="{{ page.pName }}" class="{% if page.pName == 'explore' %} wt-theme-dark {% endif %} ready" style="opacity:0;">    
    <div class="container-fluid">
      {% if page.includeheader != 'false' %}
      {% include header.html %}
      {% endif %}
    <main class="{% if page.addBodyClass != 'false' %} wt-body {% endif %} row">
      {{ content }}
      {% if page.includegetstarted != 'false' %}
        {% include section-get-started.html %}
      {% endif %}
    </main>
    {% if page.includefooter != 'false' %}
    {% include footer.html %}
    {% endif %}
    </div>
    {% include after-footer.html %}
  </body>
</html>
